
  
  <style>
    .gps-476088877434536770 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-476088877434536770 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-476088877434536770 .g-s-medium{padding:8px 24px}.gps-476088877434536770 .invisible{visibility:hidden}.gps-476088877434536770 .absolute{position:absolute}.gps-476088877434536770 .relative{position:relative}.gps-476088877434536770 .inset-0{inset:0}.gps-476088877434536770 .left-\[var\(--left\)\]{left:var(--left)}.gps-476088877434536770 .top-\[var\(--top\)\]{top:var(--top)}.gps-476088877434536770 .mx-auto{margin-left:auto;margin-right:auto}.gps-476088877434536770 .mb-0{margin-bottom:0}.gps-476088877434536770 .block{display:block}.gps-476088877434536770 .flex{display:flex}.gps-476088877434536770 .inline-flex{display:inline-flex}.gps-476088877434536770 .grid{display:grid}.gps-476088877434536770 .h-5{height:20px}.gps-476088877434536770 .w-5{width:20px}.gps-476088877434536770 .w-full{width:100%}.gps-476088877434536770 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-476088877434536770 .animate-spin{animation:spin 1s linear infinite}.gps-476088877434536770 .flex-col{flex-direction:column}.gps-476088877434536770 .\!content-center{align-content:center!important}.gps-476088877434536770 .items-center{align-items:center}.gps-476088877434536770 .justify-center{justify-content:center}.gps-476088877434536770 .self-center{align-self:center}.gps-476088877434536770 .overflow-hidden{overflow:hidden}.gps-476088877434536770 .overflow-y-hidden{overflow-y:hidden}.gps-476088877434536770 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-476088877434536770 .rounded-none{border-radius:0}.gps-476088877434536770 .bg-g-brand{background-color:var(--g-c-brand)}.gps-476088877434536770 .text-g-text-3{color:var(--g-c-text-3)}.gps-476088877434536770 .no-underline{text-decoration-line:none}.gps-476088877434536770 .opacity-25{opacity:.25}.gps-476088877434536770 .opacity-75{opacity:.75}.gps-476088877434536770 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-476088877434536770 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-476088877434536770 .transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-476088877434536770 .duration-200{transition-duration:.2s}.gps-476088877434536770 .duration-300{transition-duration:.3s}.gps-476088877434536770 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-476088877434536770 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-476088877434536770 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-476088877434536770 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-476088877434536770 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-476088877434536770 .group\/hero:hover .group-hover\/hero\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-476088877434536770 .group\/hero:hover .group-hover\/hero\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-476088877434536770 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-476088877434536770 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-476088877434536770 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="g8djNcGUpp"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8djNcGUpp mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g43ik-HPIQ relative flex flex-col"
    >
      
    <link rel="preload" href="https://ucarecdn.com/99772b6e-287b-4f9f-a30c-8f4bfc81e47d/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg" as="image" />
    
    
    <div
      
      class="gSJfBbre13 group/hero flex flex-col self-center overflow-hidden transition-colors duration-200 ease-in-out w-full"
      style="--mb:var(--g-s-l);--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--d:flex;--d-tablet:flex;--d-mobile:flex;--h:500px"
    >
      <div
      class="relative flex flex-col justify-center"
        style="--h:500px"
      >
        <div
          aria-label="Background Image"
          role="banner"
          class="absolute inset-0 left-[var(--left)] top-[var(--top)] transition-transform "
          style="--bgc:rgba(255, 255, 255, 0);--bgi:url(https://ucarecdn.com/99772b6e-287b-4f9f-a30c-8f4bfc81e47d/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg);--bgp:0% 50%;--bgs:contain;--bgr:no-repeat;--bga:scroll;--duration:0.5s;--scale:110%;--top:0;--left:0"
        > </div>
        <div
          aria-label="Overlay"
          role="banner"
          class="absolute inset-0 left-[var(--left)] top-[var(--top)] transition-all duration-300 group-hover/hero:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#121212;--top:0;--left:0;--op:0%"
        > </div>
        
        
      
      
    <div
      id
        style="--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%)"
        class="overflow-y-hidden !content-center mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="ghS_9jtLMk relative flex flex-col"
    >
      <div
      
      style=""
      class="gtZGODXTnj relative flex flex-col"
    >
      <div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gsttiA5pYN ">
      
    <div
      parentTag="Col"
        class="gsttiA5pYN"
        style=""
      >
      <h2
        data-gp-text
        class="g-heading-1 gp-text"
        style="--ta:left;--c:#212121;word-break:break-word"
      >
      Click here to edit heading
      </h2>
    </div>
      </div>
    <div
      parentTag="Col"
        class="gv_Uu3wqQC"
        style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#212121;word-break:break-word"
      >
      This is your text block. Click to edit and make it your own. Share your<br/>                          product's story or services offered. Get creative and make it yours!
      </div>
    </div><div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
    class=""
  >
    <style>
    .gcCzJXRlO0.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      border-radius: var(--g-radius-small);
    }

    .gcCzJXRlO0:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gcCzJXRlO0" aria-label="Get started"
      data-state="idle"
      class="gcCzJXRlO0 gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--c:var(--g-c-text-3, text-3);--tt:default"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="truncate group-data-[state=loading]:invisible "
        style="--tt:default"
      >
        Get started
      </span>
    </button>
  </div>
    </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start;--d-mobile:none"
      class="gD3XlAOqFV relative flex flex-col"
    >
      
    </div>
    </div>
  
    
      </div>
    </div>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gHK9Z3sfRF",
    "tag": "section",
    "class": "gps-476088877434536770 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=476088877434536770)"
      }
    ],
    "blocks": []
  }
{% endschema %}
